<h1>글 수정하기</h1>
<form action="/post/update/<%=@post.id%>">
    <input type="text" name="title" style='width:400px;' value="<%=@post.title%>"><br/> <br/>
    <input type="text" name="content" style='width:400px;height:500px;' value="<%=@post.content%>"><br/>
    <input type="submit" value="수정완료">
</form>
